/* puplications */
body {
  font-family: 'Arial';
  color: black;
}

h1 {
  color: black;
  font-size: 28px;
  text-align: left;
  margin-top: -1px;
  margin-bottom: 2px;
  font-weight: bold;

}

nav ul{
  list-style-type: none;
  text-align: right;
}

nav li{
  display: inline-block;
  padding: 5px;
}

nav a{
  color: black;
  text-decoration: none;
  font-size: 20px;
  color: #00b8d4;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.nav li a.active{
  color: #EF2D56;
}

nav a:hover{
  text-decoration: none;
  color: darkgray;

}

.headshot{
  width: 259px;
}

h2 {
  font-size: 18px;
  text-align: left;
  color: #EF2D56;
  margin-top: 0px;
  margin-bottom: 5px;
}

h3 {
  font-size: 16px;
  text-align: left;
  color: #EF2D56;
  line-height: 16px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.about a:link{
  text-decoration: none;
  color: #00b8d4;
}

#text {
  font-size: 13px;
  text-align: left;
  line-height: 19px;
}

#text a:link{
  text-decoration: none;
  color: #00b8d4;
}

#text img{
  width: 80px;
  margin-right: 10px;
  margin-top: 4px;
}

#smrl{
  width: 150px;
}

#srg{
  width: 100px;
}

#umich{
  width: 285px;
}

#SI{
  width: 259px;
}

.research-areas img{
  width: 280px;
}

#contact{
  font-size: 12px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 0px;
}

#contact img{
  width: 11px;
}

#publications a{
  text-decoration: none;
  color: #00b8d4;
}

#publications img{
  width: 50px;
  margin-right: 10px;
  margin-top: 4px;
}

#conference-publications a{
  text-decoration: none;
  color: #00b8d4;
}

#conference-publications img{
  width: 50px;
  margin-right: 10px;
  margin-top: 4px;
}

#articles a{
  text-decoration: none;
  color: #00b8d4;
}

#articles img{
  width: 50px;
  margin-right: 10px;
  margin-top: 4px;
}

#shortpapers a{
  text-decoration: none;
  color: #00b8d4;
}

#workshops-panels a{
  text-decoration: none;
  color: #00b8d4;
}

#workshop a{
  text-decoration: none;
  color: #00b8d4;
}

#coverage a{
  text-decoration: none;
  color: #00b8d4;
}

.students a{
  text-decoration: none;
  color: #00b8d4;
}

.students img {
  width: 200px;
  margin-top: 5px;
  margin-left: 5vw;
}

#menu {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0px;
  margin-left: 0px;
  line-height: 20px;
}

h2{
  margin-top: 20px;
  margin-left: 5vw;
  font-size: 35px;
}

#prospects{
  margin-left: 5vw;
  margin-top: 2vw;
  border: 1px solid #00b8d4;
  width: 80vw;
  text-align: center;

}

.students h3{
  margin-top: 20px;
  font-size: 27px;
  margin-bottom: 2vw;
  text-align: center;
}

.students h4{
  margin-top: 20px;

  font-size: 25px;
  text-align: center;
}


.students p{
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 5vw;
  border: 1px solid #00b8d4;
  width: 20vw;
  text-align: center;
  padding: 5px;
}

.students{
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  grid-template-rows: auto;
  grid-gap: 10px;
}

.students .phd{
  grid-column: 1 span 3;
}

.students {
  overflow: auto;
}
