body {
  font-family: 'Arial';
  color: black;
  background-color: #f1f1f1;
}

nav{
  padding-bottom: 25px;
}

nav ul{
  list-style-type: none;
  text-align: center;
}

nav li{
  display: block;
  padding: 5px;
}

nav a{
  color: black;
  text-decoration: none;
  font-size: 20px;
  color: #003EFF;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.nav li a.active{
  color: #EF2D56;
}

.skip a{
  background: white;
  color:;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px; 
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  position: static;
  width: auto;
  height: auto;
}

*:focus{
  border: 2px solid darkgray;
}

nav a:hover{
  text-decoration: none;
  color: darkgray;

}

.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  grid-template-rows: auto auto auto auto auto auto 100px; 
  width: 100vw; 
}

.nav{
  grid-row: 1/span 1;
  grid-column: 1/-1;
}

#main h1{
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  grid-row: 2/span 1;
  grid-column: 1/-1;
  font-size: 28px;
}

.headshot{
  grid-row: 3/span 1;
  grid-column: 1/-1;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-right: 20px;
}

.about{
  grid-row: 4/span 1;
  grid-column: 1/-1;
  padding: 30px;
}

.about h2{
  text-align: center;
  padding-right: 50px;
}

.research-areas{
  grid-row: 5/span 1;
  grid-column: 1/-1;
  align-content: center;
  text-align: center;
}
.research-areas h2{
  text-align: center;
  padding-right: 60px;
}
.research-areas h3{
  text-align: center;
}

.news{
  grid-row: 6/span 1;
  grid-column: 1/-1;
  display:block;
  width:650px;
  height: 700px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 2px solid black;
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
}

.news h2{
  text-align: center;
  padding-right: 60px;
}

.footer{
  grid-row: 7/span 1;
  grid-column: 1/-1;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  /*HOW DO I MAKE A STICKTY FOOTERRRRRR????????*/
}

.footer li{
  display: block;
  padding: 5px;
}

.container-publications{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto 100px; 
  width: 100vw; 
}

#journal-publications{
  grid-row: 3/span 1;
  grid-column: 1/-1;
  width:650px;
  height: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 2px solid black;
  padding: 3px;
  margin-right: auto;
  margin-left: auto;
  display: block;

}
#conference-publications{
  grid-row: 4/span 1;
  grid-column: 1/-1;
  width:650px;
  height: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 2px solid black;
  padding: 3px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

#articles{
  grid-row: 5/span 1;
  grid-column: 1/-1;
  width:650px;
  height: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 2px solid black;
  padding: 3px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

#shortpapers{
  grid-row: 6/span 1;
  grid-column: 1/-1;
  width:650px;
  height: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 2px solid black;
  padding: 3px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

#workshops-panels{
  grid-row: 7/span 1;
  grid-column: 1/-1;
  width:650px;
  height: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 2px solid black;
  padding: 3px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

#workshop{
  grid-row: 8/span 1;
  grid-column: 1/-1;
  width:650px;
  height: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 2px solid black;
  padding: 3px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

#informal{
  grid-row: 9/span 1;
  grid-column: 1/-1;
  width:650px;
  height: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 2px solid black;
  padding: 3px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

#coverage{
  grid-row: 10/span 1;
  grid-column: 1/-1;
  width:650px;
  height: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 2px solid black;
  padding: 3px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

h2 {
  font-size: 18px;
  text-align:  center;
  color: #EF2D56;
  margin-top: 0px;
  margin-bottom: 5px;
}

h3 {
  font-size: 16px;
  text-align: left;
  color: #EF2D56;
  line-height: 16px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.about a:link{
  text-decoration: none;
  color: #003EFF;
}

#text {
  font-size: 13px;
  text-align: left;
  line-height: 19px;
}

#text a:link{
  text-decoration: none;
  color: #003EFF;
}

#text img{
  width: 80px;
  margin-right: 10px;
  margin-top: 4px;
}

#smrl{
  width: 150px;
}

#srg{
  width: 100px;
}

#umich{
  width: 285px;
}

#SI{
  width: 259px;
}

.research-areas img{
  width: 280px;
}

#contact{
  font-size: 12px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 0px;
}

#contact img{
  width: 11px;
}

#publications a{
  text-decoration: none;
  color: #00b8d4;
}

#publications img{
  width: 50px;
  margin-right: 10px;
  margin-top: 4px;
}

#conference-publications a{
  text-decoration: none;
  color: #003EFF;
}

#conference-publications img{
  width: 50px;
  margin-right: 10px;
  margin-top: 4px;
}

#articles a{
  text-decoration: none;
  color: #003EFF;
}

#articles img{
  width: 50px;
  margin-right: 10px;
  margin-top: 4px;
}

#shortpapers a{
  text-decoration: none;
  color: #003EFF;
}

#workshops-panels a{
  text-decoration: none;
  color: #003EFF;
}

#workshop a{
  text-decoration: none;
  color: #003EFF;
}

#coverage a{
  text-decoration: none;
  color: #003EFF;
}

.students a{
  text-decoration: none;
  color: #003EFF;
}

.students img {
  width: 200px;
  margin-top: 5px;
  margin-left: 5vw;
}

#menu {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0px;
  margin-left: 0px;
  line-height: 20px;
}

h2{
  margin-top: 20px;
  margin-left: 5vw;
  font-size: 35px;
}

#prospects{
  margin-left: 5vw;
  margin-top: 2vw;
  border: 1px solid #00b8d4;
  width: 80vw;
  text-align: center;

}

.students h3{
  margin-top: 20px;
  font-size: 27px;
  margin-bottom: 2vw;
  text-align: center;
}

.students h4{
  margin-top: 20px;

  font-size: 25px;
  text-align: center;
}


.students p{
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 5vw;
  border: 1px solid #00b8d4;
  width: 20vw;
  text-align: center;
  padding: 5px;
}

.students{
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  grid-template-rows: auto;
  grid-gap: 10px;
}

.students .phd{
  grid-column: 1 span 3;
}

.students {
  overflow: auto;
}

.teaching h1{
  color: black;
  font-size: 28px;
  text-align: left;
  margin-top: -1px;
  margin-bottom: 2px;
  font-weight: bold;
}

.teaching h2{
  margin-top: 20px;
  margin-left: 5vw;
  font-size: 25px;

}

.teaching h3{
  font-size: 16px;
  color: #003EFF;
  margin-top: 20px;
}

#teaching-text{
  font-size: 13px;
  margin-top: -17px;
  margin-left: 5vw;
}

#teaching-text a:link{
  text-decoration: none;
  color: #003EFF;
}

.transition h1{
  color: black;
  font-size: 28px;
  text-align: left;
  margin-top: -1px;
  margin-bottom: 2px;
  font-weight: bold;
}

.transition h2{
  margin-top: 33px;
  margin-left: 0vw;
  font-size: 25px;

}

.transition h3{
  font-size: 16px;
  color: #003EFF;
  margin-top: 20px;
}

#transition-text{
  font-size: 13px;
  margin-top: -17px;
  margin-left: 5vw;
}

#transition-text a:link{
  text-decoration: none;
  color: #00b8d4;
}

.sensitive h1{
  color: black;
  font-size: 28px;
  text-align: left;
  margin-top: -1px;
  margin-bottom: 2px;
  font-weight: bold;
}

.sensitive h2{
  margin-top: 20px;
  margin-left: 5vw;
  font-size: 25px;
  margin-bottom: 25px;
}

.sensitive h3{
  font-size: 16px;
  color: #EF2D56;
  margin-top: 20px;
}

#sensitive-published h2{
  margin-left: 0vw;
}

#sensitive-text{
  font-size: 13px;
  margin-top: -17px;
  margin-left: 5vw;
}

#sensitive-text a:link{
  text-decoration: none;
  color: #00b8d4;
}

.gender h1{
  color: black;
  font-size: 28px;
  text-align: left;
  margin-top: -1px;
  margin-bottom: 2px;
  font-weight: bold;
}

.gender h2{
  margin-top: 20px;
  margin-left: 5vw;
  font-size: 25px;
}

.gender h3{
  font-size: 16px;
  color: #EF2D56;
  margin-top: 20px;
}

#research2{
  font-size: 13px;
  margin-top: -17px;
  margin-left: 5vw;
}

#research2 a:link{
  text-decoration: none;
  color: #003EFF;
}

#research2-published h2{
  margin-left: 0vw;
}
#transsns-header h2{
  padding-bottom: 17px;
}

#journal-publications img{
  max-height: 50px;
  max-width: 50px;
}

@media screen and (min-width: 1024px) {

.container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 35px;
  grid-template-rows: auto auto auto 100px; 
  width: 100vw; 
}

.nav{
  grid-row: 1/span 1;
  grid-column: 1/-1;
}

nav ul{
  list-style-type: none;
  text-align: right;
}

nav li{
  display: inline-block;
  padding: 5px;
}

.headshot{
  grid-row: 3/span 1;
  grid-column: 1/span 1;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.about{
  grid-row: 3/span 1;
  grid-column: 2/span 1;
  text-align: justify;
  text-justify: auto;
  padding-left: 30px;
  padding-right: 60px;
}

.about h2{
  text-align: center;
  padding-right: 50px;
}

.research-areas{
  grid-row: 4/span 1;
  grid-column: 1/span 1;
  align-content: center;
  text-align: center;
}
.research-areas h2{
  text-align: center;
  padding-right: 60px;
}
.research-areas h3{
  text-align: center;
}

.news{
  grid-row: 4/span 1;
  grid-column: 2/span 1;
  display:block;
  width:650px;
  height: 700px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 2px solid black;
  padding: 3px;
}

.news h2{
  text-align: center;
  padding-right: 60px;
}

.footer{
  grid-row: 5/span 1;
  grid-column: 1/-1;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  /*HOW DO I MAKE A STICKTY FOOTERRRRRR????????*/
}

.footer li{
  display: inline-block;
  padding: 20px;
}

.container-publications{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 35px;
  grid-template-rows: auto auto auto auto auto auto 100px; 
  width: 100vw; 

}

#journal-publications{
  grid-row: 4/span 1;
  grid-column: 1/2;
  width:650px;
  height: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 2px solid black;
  padding: 3px;

}
#conference-publications{
  grid-row: 4/span 1;
  grid-column: 2/-1;
  width:650px;
  height: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 2px solid black;
  padding: 3px;
}

#articles{
  grid-row: 5/span 1;
  grid-column: 1/2;
  width:650px;
  height: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 2px solid black;
  padding: 3px;
}

#shortpapers{
  grid-row: 5/span 1;
  grid-column: 2/-1;
  width:650px;
  height: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 2px solid black;
  padding: 3px;
}

#workshops-panels{
  grid-row: 6/span 1;
  grid-column: 1/2;
  width:650px;
  height: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 2px solid black;
  padding: 3px;
}

#workshop{
  grid-row: 6/span 1;
  grid-column: 2/-1;
  width:650px;
  height: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 2px solid black;
  padding: 3px;
}

#informal{
  grid-row: 7/span 1;
  grid-column: 1/2;
  width:650px;
  height: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 2px solid black;
  padding: 3px;
}

#coverage{
  grid-row: 7/span 1;
  grid-column: 2/-1;
  width:650px;
  height: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 2px solid black;
  padding: 3px;
}
